.input-container {
  background-color: white;
  margin-top: 2rem;
  border-radius: 0.25rem;
  padding: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
  display: inline-flex;
  justify-content: space-between;
  width: 50%;
}

@media screen and (max-width: 414px) {
  .input-container{
    margin-top: 6rem;
    width: 70%;
  }
}


.input {
  border: none;
  width: 90%
}

.input:focus {
  outline: none;
}

.add-btn {
  border: none;
  padding: 0.3rem 2rem;
  border-radius: 0.2rem;
  background-color: orange;
  color: white;
  font-weight: 900;
}