.todo-footer {
  display: inline-flex;
  justify-content: space-between;
}

.todo-footer p {
  font-weight: 600;
  color: orange
}

.todo-footer a {
  font-weight: 600;
  color: orange;
  text-decoration: none;
}